.sider {
    height: 100%;
    background-color: #f9fbff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap;
    cursor: pointer;

    .sider_logo {
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 30px;
        text-align: center;
    }

    .sider_img {
        width: 70px;
        height: 30px;
    }


    .sider_top {
        .title {
            width: 100%;
            // background-color: red;
            font-size: 20px;
            font-weight: 700;
            display: flex;
            justify-content: space-between;
        }

        .button {
            margin: 15px 0px 20px;
            background-color: #c4deff;
            color: #4d6bfe;
            height: 40px;
            width: 130px;
            border-radius: 10px;
        }

        .messagelist {
            width: 100%;
            height: 500px;
            overflow: auto;

            .messageitem {
                width: 100%;
                height: 30px;
                border-radius: 10px;
                position: relative;
                display: flex;
                align-items: center;
                padding: 10px;
                font-size: 12px;

                .txt {
                    width: 75%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .drop {
                    position: absolute;
                    right: 20px;
                    top: -9px;
                    font-size: 20px;
                    letter-spacing: 3px;
                    display: flex;
                    cursor: pointer;
                }
            }

            .active {
                background-color: #dbeafe;
            }

            .messageitem:hover {
                background-color: #eff6ff;
            }
        }
    }

    .sider_buttom {
        text-align: center;
        // .userinfo {
        //     width: 100%;
        //     display: flex;
        //     align-items: center;
        //     height: 50px;
        // }

        // .userinfo div:nth-child(1) {
        //     width: 100px;
        //     height: 30px; 

        //     margin-right: 20px;

        // }
    }


    .minsider {
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .minsider_top {
            margin-top: 50px;
            height: 150px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;  
            font-size: 25px;
            color: #717171;
            align-items: center; 
            justify-content: space-around;
            >img{
                position: absolute;
                width: 100%;
                top: 20px;
            }
        }

        .minsider_buttom {
            width: 100%;
            height: 30px;
            border-radius: 15px;
            overflow: hidden;
            margin-right: 45px;
        }
    }



}