.login {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    // object-fit: contain;
    background-image: url('/桑智.jpg');
    background-color: #f9fbff;
    background-size: cover;
    /* 撑满全屏 */
    background-repeat: no-repeat;
    /* 防止背景图片重复 */
    background-position: center;
    /* 背景图片居中显示 */

    .logo_text {
        width: 100%;
        margin-top:-15px;
        text-align: center !important;
        font-weight: 500;
        font-size: 20px;
    }


    .logindiv {
        min-width: 450px;
        min-height: 350px;
        background-color: #ffffff;
        border-radius: 15px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-sizing: border-box;
        display: flex;
        padding: 20px;
        justify-content: space-evenly;
        flex-direction: column;

        .login_logo {
            width: 100%;
            height: 70px;
            // background-color: pink;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            >div {
                width: 150px;
                height: 70px; 
                font-size: 30px;
                font-weight: 600;
                line-height: 70px; 
                text-align: center;

                >img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    /* 等比例缩放 */
                }
            }

            >span {
                font-size: 50px;

            }


        }

        // .login_logo { 
        //     width: 300px;
        //     height: 70px;
        //     box-sizing: border-box;
        //     // background-color: pink;
        //     position: absolute;
        //     top: 10%; 
        //     left: 50%;
        //     transform: translate(-50%,-10%);
        //     z-index: 100000;
        //     display: flex;
        //     justify-content: space-around;
        //     font-size: 50px;
        // }


    }

    .nopassword {
        color: #1677ff;
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 270px;
        top: -13px;
        left: 103px;
        cursor: pointer;

    }

    @media (max-width: 605px) {
        .logindiv {
            width: 350px;
            height: 230px;
            // padding: 30px 50px;
        }

        .nopassword {
            width: 250px;
            left: 0px;
            font-size: 12px;
        }

        .ant-btn {
            margin-left: -60px;
        }

        .ant-form-item-label {
            display: none;
        }
    }

}